.light{
    padding: 1rem;
    background-color: #fff;
    
}

.dark{
    padding: 1rem;
    background-color: #070707;
    color: #fff;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

span{
    font-size: 24px;
    font-weight: bolder;
    color: red;
}